/Source/MianMultiplayerPatches/obj/
/Source/MianMultiplayerPatches/bin/
/Source/MianMultiplayerPatches/release/
/Source/MianMultiplayerPatches/.idea/
/Source/MianMultiplayerPatches/MianMultiplayerPatches.sln.DotSettings.user
/.idea/
0MultiplayerAPI.dll